<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @device.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @device.model %>
</p>

<p>
  <strong>Number:</strong>
  <%= @device.number %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
